# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

RW_04A_PORON_Compliance.md
RW_04B_Brand_Compliance.md
RW_04_Compliance_v2.md
Rana_Walk_Sistema_Cromatico_v2_8.html